@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (min-width: 1024px) {
  .bg-linear {
    background-image: url("../public/bgLinear.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 856px;
    width: 100%;
  }
}

.bgImg-contact {
  background-image: url("../public/shapesContact.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.bgFooter {
  background: linear-gradient(227deg, #4e0062 0.43%, #220076 99.56%);
}
